# Identificador público da Google Tag do Google Ads
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18412361171
NEXT_PUBLIC_GOOGLE_ADS_LEAD_FORM_LABEL=
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_LABEL=
NEXT_PUBLIC_GOOGLE_ADS_PHONE_LABEL=
NEXT_PUBLIC_GOOGLE_ADS_EMAIL_LABEL=
